#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-text,
.password,
.label {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1rem;
}

.button {
  margin: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
